Numbering issue in "Authorize with Shared Key" document

**Describe the bug**
The [Authorize with Shared Key](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key) document's [Constructing the canonicalized headers string](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key?source=docs#constructing-the-canonicalized-headers-string) section shows the steps but the numbering is off, starting at item 4.

**To Reproduce**
Take a look.

**Expected behavior**

> 4. Replace any linear whitespace in the header value with a single space. Linear whitespace includes carriage return/line feed (CRLF), spaces, and tabs. See RFC 2616, section 4.2 for details. Do not replace any whitespace inside a quoted string.
> 
> 5. Trim any whitespace around the colon in the header.
> 
> 6. Finally, append a new-line character to each canonicalized header in the resulting list. Construct the CanonicalizedHeaders string by concatenating all headers in this list into a single string.

**Screenshots**
![image](https://user-images.githubusercontent.com/1965782/95811830-9b824180-0d03-11eb-8635-62281893b8ea.png)

**Desktop (please complete the following information):**
 - OS: Linux  5.4.46 #1-NixOS SMP  x86_64 GNU/Linux
 - Browser: Chrome
 - Version: 83.0.4103.97



@toraritte Please move this issue to https://github.com/MicrosoftDocs/azure-docs/issues